.App {
  text-align: center;
  margin: auto;
  max-width: 600px;
}

.Timer {
  border: 1px solid steelblue;
}

.Timer button {
  margin-left: 5px;
  margin-bottom: 1px;
}

.Timer .Options {
  text-align: left;
}

.Timer .Time {
  font-size: 70px;
  width: 200px;
  margin: auto;
  background-color: blue;
  border-radius: 300px;
  color: bisque;
}


.Timer .Time.Action {
  background-color: red;
}

.Timer .Time.Break {
  background-color: green;
}